[submodule "eochat"]
	path = eochat
	url = https://github.com/p-schlickmann/eochat
[submodule "eochat-backend"]
	path = eochat-backend
	url = https://github.com/p-schlickmann/eochat-backend
[submodule "eochat-frontend"]
	path = eochat-frontend
	url = https://github.com/p-schlickmann/eochat-frontend
